* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; color: #303030;}
.clearfix::before, .clearfix::after {content: ""; display: block; clear: both;}
em {font-style: normal;}
body {min-width: 1400px; overflow-x: hidden;}
.not_scroll {position: fixed; width: 100%; height: 100%;}
::selection {background: #f1f1f1;}


/* 레이아웃 */
.container {width: 1400px; margin: 0 auto;}
/* #header {} */
#section1 {padding: 0 30px;}
#section2 {padding: 100px 0;}
main {min-width: 1400px; overflow-x: hidden;}
#section3 {padding: 90px 0 95px 0; background: #F8F8FA;}
#section4 {padding: 100px 0;}
#section5 {background: #F8F8FA;}
#section6 {padding: 100px 0; background: url(../images/media_bg.png) no-repeat; background-size: cover; background-attachment: fixed;}
footer {background: #1A1A1A; margin-top: 1px; min-width: 1400px; overflow-x: hidden;}


/* 로그인 팝업 */
.login_bg {position: fixed; width: 100%; height: 100%; z-index: -1; opacity: 0; transition: opacity 0.4s ease-in-out; background: rgba(0, 0, 0, 0.85);}
.login_popup_area {position: fixed; z-index: 10; top: 0; right: 0; height: 100%; background: #FCF0EF; width: 0; transition: all 0.8s ease-in-out; overflow-y: auto;}
.loginPopupClose {opacity: 0; transition: all 0.5s;}
.loginPopupClose>i {font-size: 40px; position: absolute; right: 20px; top: 20px; color: #999; cursor: pointer; transition: all 0.7s ease-in-out;}
.login_popup {padding: 90px; opacity: 0; transition: all 0.6s;}
.login_popup>h1 {width: 170px; margin-bottom: 50px;}
.login_popup>h1>img {display: block; width: 100%;}
.login_menu {margin-bottom: 30px; border-bottom: 1px solid #999;}
.login_menu>li {float: left; font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 16px; width: 49.25%; text-align: center; padding: 20px 0 17px 0; background: #fff; background: #999; margin-right: 1.5%; border-radius: 6px 6px 0 0; border: 1px solid #999; color: #fff;}
.login_menu>li:last-child {margin-right: 0;}
.login_menu>li>a {display: block;}
.login_menu>li.active {background: #FCF0EF; position: relative; color: #303030;}
.login_menu>li.active::after {content: ""; display: block; width: 100%; height: 2px; background: #FCF0EF; position: absolute; bottom: -2px;}
/* 로그인 폼 */
#user_id, #user_pw {display: block; padding: 18px 20px 16px 20px; border: none; width: 100%; border: 1px solid #e3e3e3; margin-bottom: 15px; font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 16px; color: #999; outline: none;}
#user_id::placeholder, #user_pw::placeholder {color: #cacaca;}
#user_id:focus, #user_pw:focus {border-color: #DC1F18;}
#login_btn {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 20px; padding: 18px 0 16px 0; width: 100%; background: #DC1F18; border: none; color: #fff; margin: 5px 0 20px 0; cursor: pointer; transition: all 0.3s;}
#login_btn:hover {opacity: 0.8;}
#login_save {display: none;}
#login_save +label {display: block; font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 16px; color: #303030; margin-bottom: 20px;}
#login_save +label>span {display: inline-block; width: 22px; height: 22px; border: 1px solid #7e7e7e; margin-right: 7px; padding: 2px; vertical-align: -4px;}
#login_save +label>span i {color: #cacaca; display: inline-block; vertical-align: 3px;}
#login_save:checked +label>span i {color: #DC1F18;}
form>span:nth-child(6), form>span:nth-child(8){color: #cacaca; font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 14px; cursor: pointer;}
form>span:nth-child(7) {width: 2px; height: 2px; background: #e5e5e5; display: inline-block; vertical-align: 4px; margin: 0 10px;}
/* 로그인 sns */
.login_sns {margin-top: 60px;}
.login_sns>h2 {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 20px; color: #303030;}
.login_sns>ul {margin: 20px 0 30px 0;}
.login_sns>ul>li {display: inline-block; width: 50px; height: 50px; border-radius: 50%; text-align: center; margin: 10px 34px;}
.login_sns>ul>li:nth-child(1) {padding-top: 5px; background: #000;} 
.login_sns>ul>li:nth-child(2) {padding-top: 7px; background: #FBE300;}
.login_sns>ul>li:nth-child(2) i {color: #3B1E1E;}
.login_sns>ul>li:nth-child(3) {padding-top: 9px; background: #03CF5D;}
.login_sns>ul>li:nth-child(4) {padding-top: 8px; background: #1877F2;}
.login_sns>ul>li>a {display: block;}
.login_sns>ul>li i {font-size: 35px; color: #fff;}
.login_sns>ul>li:nth-child(3) i, .login_sns>ul>li:nth-child(4) i {font-size: 30px;}
.login_sns>p {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 17px; color: #7e7e7e; float: left;}
.login_sns>span {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 17px; cursor: pointer; float: right; margin-right: 20px; margin-top: -10px;}
.login_sns>span i {font-size: 30px; vertical-align: -5px; margin-left: 8px; transition: all 1s; pointer-events: none;}
.login_sns>span:hover {color: #DC1F18; text-decoration: underline;}
.login_sns>span:hover i {transform: rotateY(360deg);}
/* 로그인팝업 끝 */

/* 언어선택영역 */
.language_select_area {position: fixed; width: 100%; height: 100%; z-index: 9; background: url(../images/world_map.png) no-repeat; background-size: cover; animation: fadeUp 0.6s; display: none; z-index: 11; transition: all 0.6s;}
.language_select_area>span {position: absolute; right: 30px; top: 30px; cursor: pointer;}
.language_select_area>span i {font-size: 40px; color: #7e7e7e;}
.language_select_area>ul {padding: 150px; width: fit-content; margin: 0 auto;}
.language_select_area>ul>li {float: left; margin-right: 100px; font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 17px; color: #303030;}
.language_select_area>ul>li:last-child {margin-right: 0;}
.language_select_area>ul>li>ul {margin-top: 30px;}
.language_select_area>ul>li>ul>li {line-height: 2; color: #999;}
.language_select_area>ul>li>ul>li>span {font-family: 'Montserrat', sans-serif; font-weight: 400;}
/* .language_select_area {display: block;} */
/* 언어선택영역끝 */

/* header */
.header_top {padding: 5px 0;}
/* 해더 노티스 영역 */
.head_notice {float: right; width: 300px; overflow: hidden; margin-top: 5px; margin-right: 20px;}
.head_notice>p {font-family: 'SpoqaHanSansNeo-Light'; font-weight: normal; font-size: 14px; white-space: nowrap; position: relative; animation: moveLeft 13s; animation-iteration-count: infinite; transition: left 1s; left: 300px; animation-timing-function: linear; color: #303030;}
.head_notice>p>span {display: inline-block; margin-left: 20px; font-family: 'Montserrat', sans-serif; font-weight: 400;}
.head_notice>p em {color: #DC1F18;}

/* 언어표시메뉴 */
/* .head_lang>input {display: none;} */
.header_top .head_lang {float: right;}
.head_lang .lang {display: block; width: 94px; font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 11px; padding: 5px 7px 6px 8px; border-radius: 10px; transition: all 0.6s ease-in-out; position: relative; cursor: pointer; background: #F8F8FA;}
.head_lang .lang.active {transform: scale(80); border-radius: 50%; z-index: 10;}
.head_lang .lang>img {width: 20px; vertical-align: -3px;}
.head_lang .lang>i {font-size: 16px; vertical-align: -3px; margin-left: 10px;}


/* nav*/
/* 1차메뉴 */
#nav {background: #fff; box-shadow: none; position: relative; z-index: 5; width: 100%; padding-top: 4px;}
#nav.on {position: fixed; top: 0; width: 100%; box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);}
.nav {text-align: center; position: relative;}
.nav>h1 {width: 170px; float: left; padding-top: 9px;}
.nav>h1>a>img {display: block; width: 100%;}
.nav .gnb_menu {float: left; margin-left: 5%; font-size: 0;}
.nav .gnb_menu>li {display: inline-block; position: relative; width: 180px;}
.nav .gnb_menu>li>a {display: block; padding: 10px 0 15px 0; font-size: 17px; font-family: 'Montserrat', sans-serif; font-weight: 500; transition: all 0.4s}
.nav .gnb_menu>li::after {content: ""; display: block; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 0; height: 3px; background: #DC1F18; transition: all 0.3s ease-in-out;}
.nav .gnb_menu>li:hover >a {color: #DC1F18;}
.nav .gnb_menu>li:hover::after {width: 100%;}
.nav .gnb_menu>li:nth-child(1):hover >ul {height: 340px; padding-top: 20px;}
.nav .gnb_menu>li:nth-child(2):hover >ul {height: 250px; padding-top: 20px;}
.nav .gnb_menu>li:nth-child(3):hover >ul {height: 250px; padding-top: 20px;}
.nav .gnb_menu>li:nth-child(4):hover >ul {height: 420px; padding-top: 20px;}
.nav .gnb_menu>li:nth-child(5):hover >ul {height: 210px; padding-top: 20px;}
.nav .gnb_menu>li>ul>li:hover a {color: #DC1F18;}

/* head_right_icons */
.head_right_icons {float: right; padding: 3px 0;}
.head_right_icons>li {position: relative; display: inline-block; margin-left: 10px; width: 38px; height: 38px; border-radius: 50%; vertical-align: middle; text-align: center; transition: all 0.3s ease-in-out; pointer-events: all;}
.head_right_icons>li>a {display: block;}
.head_right_icons>li i {font-size: 24px; color: #999; line-height: 38px; transition: all 0.3s ease-in-out;}
.head_right_icons>li:last-child>a {position: relative; display: block; width: 60%; height: 42%; margin: 11px auto 0 auto;}
/* 햄버거메뉴 */
.head_right_icons>li:last-child span {position: absolute; display: block; width: 100%; height: 2px; border-radius: 4px; background: #999; margin: 0 auto; transition: all 0.5s ease-in-out;}
.head_right_icons>li:last-child span:nth-child(1) {top: 0;}
.head_right_icons>li:last-child span:nth-child(2) {top: 50%; transform: translateY(-50%); opacity: 1;}
.head_right_icons>li:last-child span:nth-child(3) {bottom: 0;}
.head_right_icons>li>em {position: absolute; left: 50%; top: 50px; transform: translateX(-50%); display: inline-block; font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 12px; letter-spacing: -0.5px; padding: 4px 7px; background: #7e7e7e; width: fit-content; border-radius: 4px; color: #fff; display: none; animation: fadeIn 0.6s; animation-direction: alternate; white-space: nowrap; z-index: 4;}
.ham_menu_icon {cursor: pointer;}
.ham_menu_icon.active {background: #DC1F18;}
.ham_menu_icon.active>a span {background: #fff;}
.ham_menu_icon.active>a span:nth-child(1) {top: 50%; transform: translateY(-50%) rotate(225deg);}
.ham_menu_icon.active>a span:nth-child(2) {opacity: 0;}
.ham_menu_icon.active>a span:nth-child(3) {bottom: 40%; transform: translateY(-50%) rotate(-225deg);}
/* 햄버거메뉴끝 */
.head_right_icons>li:hover {background: #DC1F18;}
.head_right_icons>li:hover i {color: #fff;}
.head_right_icons>li:hover span {background: #fff;}
.head_right_icons>li:hover em {display: block;}

/* 2차메뉴 */
.nav .gnb_menu>li>ul {position: absolute; top: 45px; width: 100%; font-size: 15px; font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; background: rgba(255, 255, 255, 0.95); padding: 20px 0 0 40px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15); text-align: start; height: 0; overflow: hidden; padding-top: 0; transition: all 0.4s ease-in-out; transition-delay: 0.2s; z-index: 3;}
.nav .gnb_menu>li>ul>li {line-height: 2.8;}
.nav .gnb_menu>li>ul>li a {transition: all 0.4s;}
.nav .gnb_menu>li>ul>li span{font-family: 'Montserrat', sans-serif; font-weight: 500;}
.nav .gnb_menu>li:nth-child(3)>ul, .nav .gnb_menu>li:nth-child(5)>ul {padding-left: 55px;}
.nav .gnb_menu>li:nth-child(4)>ul {padding-left: 35px;}
.nav .gnb_menu>li:nth-child(4)>ul>li:nth-child(2) {width: 82%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

/* 전체메뉴 */
.nav .all_menu_area {position: absolute; top: 45px; width: 100%; background: rgba(248, 248, 250, 0.97); overflow: hidden; transition: all 0.5s ease-in-out; height: 0; border: 0 solid #E3E3E3; z-index: 3;}
.nav .all_menu_area.active {height: 590px; border: 1px solid #E3E3E3;}
.all_menu_area>li {width: 20%; padding: 46px 0; float: left; border-right: 1px solid #E3E3E3; height: 100%;}
.all_menu_area>li:last-child {border-right: none;}
.all_menu_area>li>div {width: max-content; margin: 0 auto;}
.all_menu_area>li>div>ul {text-align: start;}
.all_menu_area>li>div>ul>li {line-height: 2.8; font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 16px;}
.all_menu_area>li>div>ul>li:first-child {font-family: 'Montserrat', sans-serif; font-weight: 500;}
.all_menu_area>li>div>ul>li a {transition: all 0.3s;}
.all_menu_area>li>div>ul>li:first-child {font-size: 19px; font-weight: 500;}
.all_menu_area>li>div>ul>li:nth-child(2)>span {display: block; background: #DC1F18; width: 40px; height: 2px; margin: 10px 0 15px;}
.all_menu_area>li>div>ul>li span {font-family: 'Montserrat', sans-serif; font-weight: 500;}
.all_menu_area>li>div>ul:hover >li:first-child >a {color: #DC1F18;}
.all_menu_area>li>div>ul>li:hover >a {color: #DC1F18;}

/* 검색창 영역 */
.search_area {position: absolute; width: 100%; height: 59px; border-top: 1px solid #e3e3e3; background: #fff; box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1); animation: fadeInSlide 0.4s ease-out; display: none;}
.search_area.show {display: block;}

.search_wrap {width: 780px; height: 38px; margin: 0 auto; margin-top: 10px; border-radius: 20px; border: 1px solid transparent; position: relative; background: #fff;}
#search_input {position: absolute; width: 700px; height: 38px; top: 0; border: none; outline: none; font-size: 20px; font-family: 'SpoqaHanSansNeo-Light'; font-weight: normal; color: #303030; background: transparent; text-indent: 20px;}
.search_wrap>span {font-size: 28px; color: #DC1F18; cursor: pointer; position: absolute; top: 4px; right: 20px;}
#search_input::placeholder {font-size: 20px; color: #cacaca; font-family: 'SpoqaHanSansNeo-Light';}
.search_wrap>span:active {color: #DC1F18;}
.recommend_keyword_wrap {margin-top: 38px; font-family: 'SpoqaHanSansNeo-Light'; font-size: 18px; padding: 5px 0 14px 0; display: none; padding-top: 10px;}
.recommend_keyword_wrap>p {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; height: 40px; line-height: 40px; color: #303030; padding-left: 20px; position: relative;}
.recommend_keyword_wrap>p::before {content: ""; display: block; position: absolute; width: 740px; border-top: 1px solid #e3e3e3; top: -10px;}
.recommend_keyword_wrap>ul>li {line-height: 38px; cursor: pointer;}
.recommend_keyword_wrap>ul>li a {color: #303030;}
.recommend_keyword_wrap>ul>li i {margin-right: 7px; color: #cacaca; text-indent: 20px;}
.recommend_keyword_wrap>ul>li:hover {background: #f7f7f7;}
/* nav끝 */

/* 해더 페럴렉스 */
#header {opacity: 0;  transition: opacity 1s ease-in-out;}
#header.show {opacity: 1;}
/* 해더끝 */


/* section1 */
#section1> .container {width: 100%;}
.visual_wrap {position: relative; width: 100%; background: #fff; padding-bottom: 42.7%;}
.visual_wrap .visual_slider {position: relative; width: 100%;}
/* 슬라이드 공통 */
.visual_slide {position: absolute;  width: 100%; opacity: 0; transition: all 0.8s ease-in-out; overflow: hidden;}
.visual_slide>img {display: block; width: 100%; transition: all 6s ease-in;}
.visual_slide .slide_txt {position: absolute; width: 1400px; color: #fff; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: all 0.6s; z-index: 2; padding: 0 10px;}
.slide_txt>h3 {font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 17px; margin-bottom: 2px;}
.slide_txt>h2 {font-family: 'Noto Sans KR', sans-serif; font-weight: 400; font-size: 48px; margin-bottom: 30px; letter-spacing: -1px;}
.slide_txt>h2>p {margin-top: -6px;}
.slide_txt>p {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 18px; margin-bottom: 50px;}
.slide_txt>span:nth-child(4) {display: inline-block; font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 16px; padding: 14px 40px 15px 40px; transition: all 0.4s ease-in-out; cursor: pointer; background: rgba(255, 255, 255, 0.1); color: #fff; border-radius: 4px; border: 1px solid #fff;}
.visual_slide .slide_txt>span:nth-child(4):hover {box-shadow: inset 0 70px 0 #DC1F18, inset 0 -70px 0px #DC1F18; color: #fff; border-color: #DC1F18;}
/* 비주얼슬라이드컨트롤 */
.slider_control>ul {position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); z-index: 3;}
.slider_control>ul>i {font-size: 20px; vertical-align: middle; margin-right: 10px; cursor: pointer; color: #fff;}
.slider_control>ul>li {display: inline-block; position: relative; width: 9px; height: 9px; margin-right: 4px; cursor: pointer; border-radius: 5px; vertical-align: middle; background: #fff; transition: all 0.5s; transition-delay: 0.2s;}
.slider_control>ul>li:last-child {margin-right: 0;}
.slider_control>ul>li.active {width: 70px; background: #DC1F18;}
/* 비주얼슬라이드1 */
.vSlide1 .slide_txt>span:nth-child(4) {color: #fff;}
/* 비주얼슬라이드2 */
.vSlide2 .slide_txt {color: #303030;}
.vSlide2 .slide_txt>span:nth-child(4) {border-color: #7e7e7e; color: #303030;}
/* 비주얼슬라이드3 */
.vSlide3 .slide_txt {color: #303030;}
.vSlide3 .slide_txt>span:nth-child(4) {border-color: #7e7e7e; color: #303030;}
/* 비주얼슬라이드4 */
.vSlide4 .slide_txt {color: #303030;}
.vSlide4 .slide_txt>span:nth-child(4) {border-color: #7e7e7e; color: #303030;}
/* 비주얼슬라이드5 */
.vSlide5 .slide_txt {text-align: right;}
/* 비주얼슬라이드6 */
.vSlide6 .slide_txt {text-align: center; color: #303030;}
.vSlide6 .slide_txt>span:nth-child(4) {border-color: #7e7e7e; color: #303030;}
/* 비주얼슬라이드7 */
.vSlide7 .slide_txt>span:nth-child(4) {color: #fff;}
/* 비주얼슬라이드8 */
.vSlide8 .slide_txt {text-indent: 64%;}
.vSlide8 .slide_txt>span:nth-child(4) {margin-left: 64%; text-indent: 0;}
/* 비주얼슬라이드9 */
.vSlide9 .slide_txt {color: #303030;}
.vSlide9 .slide_txt>span:nth-child(4) {border-color: #7e7e7e; color: #303030;}
/* 비주얼슬라이드10 */
.vSlide10 .slide_txt {color: #303030;}
.vSlide10 .slide_txt>span:nth-child(4) {border-color: #7e7e7e; color: #303030;}
/* 비주얼슬라이드11 */
.vSlide11 {opacity: 1;}
.vSlide11 .slide_txt {text-indent: 70%;}
.vSlide11 .slide_txt>span:nth-child(4) {margin-left: 70%; text-indent: 0;}


/* section1 메인비주얼슬라이드 페럴렉스 */
.visual_wrap {opacity: 0; transition: opacity 1s ease-in-out;}
.visual_wrap.show {opacity: 1;}
/* 메인비주얼슬라이드 끝 */
/* section1 끝 */


/* section2 */
/* 신상품컬렉션 공통 */
.new_arrivals {width: 100%;}
.arrivals_img {position: relative; width: 100%; cursor: pointer;}
.arrivals_img .new_img {background: #fff; transition: background 0.6s;}
.arrivals_img .new_img>img {display: block; transition: opacity 0.6s;}
.arrivals_img .arrivals_txt {position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%,-50%); opacity: 0; transition: opacity 0.7s;}
.arrivals_img .arrivals_txt>p {font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 14px; color: #fff; text-align: center; letter-spacing: 1px;}
.arrivals_img .arrivals_txt>h3 {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 24px; color: #fff; margin: 5px 0 40px 0; text-align: center;}
.arrivals_img .arrivals_txt>h3>span {font-family: 'Montserrat', sans-serif; font-weight: 400;}
.arrivals_img .arrivals_txt>img {display: block; width: 60px; margin: 0 auto; transition: transform 0.6s ease-in-out;}
.arrivals_img:hover .new_img {background: #DC1F18;}
.arrivals_img:hover .new_img>img {opacity: 0;}
.arrivals_img:hover .arrivals_txt {opacity: 1;}
.arrivals_img:hover .arrivals_txt>img {transform: rotate(-360deg);}
/* 신상품컬렉션 왼쪽영역 */
.arrival_left {width: 470px; margin-right: 14px; float: left;}
.arrival_left .arrivals_tit {margin-bottom: 46px;}
.arrival_left .arrivals_tit>h2 {font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 32px; color: #303030;}
.arrival_left .arrivals_tit>span {display: block; width: 40px; height: 2px; background: #DC1F18; margin: 19px 0;}
.arrival_left .arrivals_tit>p {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; color: #7e7e7e; font-size: 15px;}
.arrival_left .arrivals_img .new_img>img {display: block; width: 100%;}
.arrival_left .arrImg1 {margin-bottom: 14px;}
/* 신상품컬렉션 오른쪽영역 */
.arrival_right {width: 916px; float: left;}
.arrival_right .arrivals_img .new_img>img {display: block; width: 100%;}
.arrival_right .arrImg3 {margin-bottom: 14px;}
.arrival_right .arrImg4 {width: 523px; margin-right: 14px; float: left;}
.arrival_right .arrImg5 {width: 379px; float: left;}

/* section2 신상품컬렉션 페럴렉스 */
.arrival_left .arrivals_tit {opacity: 0; transform: skew(90deg); transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;}
.arrImg1, .arrImg2 {opacity: 0; transform: translateX(-30%); transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;}
.arrImg3, .arrImg5 {opacity: 0; transform: translateX(30%); transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;}
.arrImg4 {opacity: 0; transform: translateY(30%); transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out; transition-delay: 0.2s;}
/* show 클래스가 추가되었을 때 */
.new_arrivals.show .arrival_left .arrivals_tit {opacity: 1; transform: none;}
.new_arrivals.show .arrImg1, .new_arrivals.show .arrImg2 {opacity: 1; transform: none;}
.new_arrivals.show .arrImg3, .new_arrivals.show .arrImg5 {opacity: 1; transform: none;}
.new_arrivals.show .arrImg4 {opacity: 1; transform: none;}
/* 신상품컬렉션 끝 */
/* section2 끝 */


/* section3 */
/* 베스트제품 */
#section3>.container {width: 100%;}
.best_pdt_wrap {width: 100%;}
/* 베스트제품 타이틀 */
.best_pdt_tit {text-align: center;}
.best_pdt_tit>h2 {font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 32px; color: #303030;}
.best_pdt_tit>span {display: block; width: 40px; height: 2px; background: #DC1F18; margin: 15px auto 20px auto;}
.best_pdt_tit>p {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; color: #7e7e7e; font-size: 15px;}
/* 베스트제품 메뉴 */
.best_pdt_menu_area {position: relative; width: fit-content; margin: 0 auto;}
.best_pdt_menu {margin: 50px auto 40px auto; width: fit-content;}
.best_pdt_menu>li {display: inline-block; margin: 0 5px; padding: 4px 20px; cursor: pointer;}
.best_pdt_menu>li:last-child {margin-right: 0;}
/* .best_pdt_menu>li::after {content: ""; display: block; width: 0; height: 2px; background: #DC1F18; transition: width 0.5s;} */
.best_pdt_menu>li>a {display: block; font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; color: #7e7e7e; font-size: 16px; padding: 3px; transition: color 0.5s;}
/* .best_pdt_menu>li:hover::after {width: 100%;} */
.best_pdt_menu>li:hover>a {color: #DC1F18;}
.best_pdt_menu>li.active>a {font-weight: 500; color: #DC1F18;}
.tab_line {position: absolute; width: 58px; height: 35px; border-bottom: 2px solid #DC1F18;  top: 0; transition: all 0.4s ease-in-out;}
/* .best_pdt_menu>li.active::after {width: 100%;} */

/* 베스트제품 리스트1~6 공통 */
.best_pdt_list_area {width: 100%; padding: 0 5px; position: relative; padding-bottom: 34%;} 
.best_pdt_list_area .best_pdt_list {display: flex; position: absolute; transition: left 0.5s ease-out, opacity 0.5s ease-in-out; height: 100%; width: 100%;}
.best_pdt_list_area .best_pdt_list>li {width: 16.666%; margin: 0 5px; overflow: hidden;}
.best_pdt_list>li .best_pdt_img {width: 100%; background: #fff; overflow: hidden; position: relative;}
.best_pdt_list>li .best_pdt_img>img {display: block; width: 100%; transition: all 0.3s ease-in-out;}
.best_pdt_list>li .best_pdt_img .best_pdt_hover {position: absolute; top: 0; opacity: 0;}
.best_pdt_list>li .best_pdt_img:hover>img:first-child {opacity: 0;}
.best_pdt_list>li .best_pdt_img:hover .best_pdt_hover {opacity: 1;}
.best_pdt_list>li .best_pdt_txt {padding: 15px; color: #303030;}
.best_pdt_list>li .best_pdt_txt>p {color: #999; font-size: 13px; font-family: 'Montserrat', sans-serif; font-weight: 400;}
.best_pdt_list>li .best_pdt_txt>h3 {font-size: 19px; font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; margin: 5px 0 10px 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.best_pdt_list>li .best_pdt_txt>h4 {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 15px; color: #7e7e7e; margin-bottom: 20px;}
.best_pdt_list>li .best_pdt_txt>span {font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 24px;}
.best_pdt_list>li .best_pdt_txt>span>em {font-family: 'SpoqaHanSansNeo-Regular'; font-size: 15px; color: #7e7e7e; margin-left: 1px;}
/* 베스트제품 슬라이더 컨트롤 */
.best_pdt_control {appearance: none; display: block; width: 1400px; height: 50px; background: transparent; cursor: pointer; border-radius: 2px; border-bottom: 3px solid #e3e3e3; cursor: grab; margin: 0 auto; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); z-index: 3; cursor: move;}
.best_pdt_control::-webkit-slider-thumb {appearance: none; width: 16.66%; height: 50px; background: transparent; border-bottom: 3px solid #DC1F18; margin-bottom: -3px;}
.drag_info {font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 14px; color: #999; animation: dungdung 3s; animation-iteration-count: infinite; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0; z-index: 3;}
/* 베스트 제품 리스트1 빼고 모두 안보이기 & 이벤트 논 처리 */
.best_pdt_list:not(:first-child) {opacity: 0; z-index: 1;}
.best_pdt_list:first-child {z-index: 2;}


/* section3 베스트 제품 페럴렉스 */
.best_pdt_tit {opacity: 0; transform: scale(0.9); transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;}
.best_pdt_menu_area {opacity: 0; transform: scale(0.9); transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;}
.best_pdt_list_area {opacity: 0; transform: scale(0.9); transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out; transition-delay: 0.2s;}
.best_pdt_wrap.show .best_pdt_tit {opacity: 1; transform: none;}
.best_pdt_wrap.show .best_pdt_menu_area {opacity: 1; transform: none;}
.best_pdt_wrap.show .best_pdt_list_area {opacity: 1; transform: none;}
/* 베스트제품 끝 */
/* section3 끝 */


/* section4 */
/* 티쏘 화보 */
#section4>.container {width: 100%;}
/* 티쏘 화보 타이틀 */
.pic_tit {text-align: center; margin-bottom: 40px;}
.pic_tit>h2 {font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 32px; color: #303030;}
.pic_tit>span {display: block; width: 40px; height: 2px; background: #DC1F18; margin: 15px auto 20px auto;}
.pic_tit>p {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; color: #7e7e7e; font-size: 15px;}
/* 티쏘 화보 슬라이드 */
.pic_slider_area {width: 100%; overflow: hidden;}
.pic_slider_area .pic_slider {display: flex; flex-wrap: nowrap; position: relative; padding: 30px 0;} /*width는 자바스크립트로*/
.pic_slider_area .pic_slider.active {transition: all 0.4s ease-in-out;}
.pic_slider_area .pic_slider>li {width: 30%; padding: 0 12px; position: relative; transition: all 0.5s ease-in-out; cursor: pointer; overflow: hidden;}
.pic_slider_area .pic_slider>li.active {transition: all 0.4s ease-in-out;}
.pic_slider .pic_slide_img {overflow: hidden; transition: all 0.3s ease-in-out;} 
.pic_slider .pic_slide_img>img {display: block; width: 100%; transition: all 0.3s ease-in-out;}
.pic_slide .pic_txt {position: absolute; bottom: -10%; left: 50%; transform: translateX(-50%); transition: all 0.4s ease-in-out; pointer-events: none; opacity: 0;}
.pic_slide .pic_txt>h2 {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; color: #fff; text-align: center; margin-bottom: 10px; font-size: 24px;}
.pic_slide .pic_txt>h2>span {font-family: 'Montserrat', sans-serif; font-weight: 200;}
.pic_slide .pic_txt>p {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; color: #fff; text-align: center;}
.pic_slide:hover .pic_txt {opacity: 1; bottom: 5%;}
.pic_slide:hover .pic_slide_img>img {opacity: 0.7; transform: scale(1.05);}
.pic_slide:hover .pic_slide_img {background: #000;}

/* 티쏘 화보 컨트롤러 */
.pic_control {margin: 0 auto; width: fit-content; margin-top: 15px;}
.pic_control>li {display: inline-block; cursor: pointer; border-radius: 50%; padding: 6px; transition: all 0.5s;}
.pic_control>li>i {display: inline-block; font-size: 25px; color: #cacaca; transition: all 0.5s; vertical-align: middle;}
.pic_play {margin: 0 15px;}
.pic_play>i {font-size: 30px;}
.pic_prev:hover, .pic_next:hover {background: #DC1F18;}
.pic_prev:hover>i, .pic_next:hover>i {color: #fff;}

/* section4 화보 페럴렉스 */
.pic_tit {opacity: 0; transform: scale(0.9); transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;}
.pic_slider_area {opacity: 0; transform: scale(0.9); transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out; transition-delay: 0.2s;}
.pic_wrap.show .pic_tit {opacity: 1; transform: none;}
.pic_wrap.show .pic_slider_area {opacity: 1; transform: none;}
/* 티쏘화보 끝 */
/* section4 끝 */


/* section5 */
/* 뉴스룸 시작 */
#section5> .container {width: 100%;}
.newsRoom_wrap {width: 100%; padding-left: 10px; display: flex;}
/* 뉴스룸 왼쪽 영역 */
.newsRoom_left_area {position: relative; width: 35%; margin-right: 50px; overflow: hidden;}
.newsRoom_left_area>ul {position: relative; width: 200%; transition: all 7s;}
.newsRoom_left_area>ul>li {background: #000; float: left; width: 50%;}
.newsRoom_left_area>ul>li>img {display: block; width: 100%; opacity: 0.75;}
/* .newsRoom_left_area>ul>li:last-child {margin-left: 0px;} */
.newsRoom_left_tit {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.newsRoom_left_tit>h2 {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; margin-bottom: 20px; font-size: 40px; color: #fff; line-height: 1.3;}
.newsRoom_left_tit>p {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; color: #fff; font-size: 17px;}
/* 뉴스룸 오른쪽 영역 */
.newsRoom_right_area {width: 65%; overflow: hidden; position: relative; display: flex; flex-direction: column; justify-content: center;}
.newsRoom_tit {margin-bottom: 30px;}
.newsRoom_tit>h2 {font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 32px; color: #303030;}
.newsRoom_tit>span {display: block; width: 40px; height: 2px; background: #DC1F18; margin: 15px 0 20px 0;}
.newsRoom_tit>p {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; color: #7e7e7e; font-size: 15px;}
/* 뉴스룸 오른쪽 슬라이드 */
.newsRoom_right_slider {position: relative; display: flex;}
.newsRoom_right_slider.active {transition: all 0.4s ease-out;}
.newsRoom_right_slider>li {width: 33.333%; position: relative; margin: 0 10px; transition: all 0.4 ease-out;}
.newsRoom_right_slider>li>a {display: block; perspective: 1200px;}
.newsRoom_right_slider>li>a>img {display: block; width: 100%; transition: all 0.6s; transform-style: preserve-3d; transform: rotateY(0deg); pointer-events: none;}
.newsRoom_right_slider>li .news_txt {position: absolute; top: 50%; transform: translateY(-50%); padding: 20px; color: #303030; width: 100%; transition: all 0.6s; opacity: 0; transform-style: preserve-3d; transform: rotateY(-180deg); pointer-events: none;}

/* 뉴스 이미지 호버효과 */
.newsRoom_right_slider>li:hover .news_txt {opacity: 1; transform: rotateY(0deg) translateY(-50%);}
.newsRoom_right_slider>li:hover img {opacity: 0.08; transform: rotateY(180deg);}
.newsRoom_right_slider>li .news_txt>h3 {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 17px; margin: 3px 0;}
.newsRoom_right_slider>li .news_txt>span:nth-child(2) {font-family: 'SpoqaHanSansNeo-Light'; font-weight: normal; font-size: 13px; color: #999;}
.newsRoom_right_slider>li .news_txt>p:nth-child(3) {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 15px; text-align: justify; margin-top: 15px; line-height: 1.5; color: #303030;}
.newsRoom_right_slider>li .news_txt>span:nth-child(4) {font-family: 'Montserrat', sans-serif; font-weight: 300; display: block; width:fit-content; font-size: 14px; margin: 15px auto 0 auto; padding: 7px 12px 10px 12px; color: #DC1F18;}
/* 뉴스룸 오른쪽 슬라이더 컨트롤 */
.newsRoom_btn {height: 40px;}
.newsRoom_right_slider_prev {float: right; margin-top: 13px; padding: 5px 9px; font-size: 24px; border-radius: 50%; cursor: pointer; transition: all 0.4s;}
.newsRoom_right_slider_next {float: right; margin: 13px 10px 0 10px; padding: 5px 9px; font-size: 24px; border-radius: 50%; cursor: pointer; transition: all 0.4s;}
.newsRoom_right_slider_prev:hover, .newsRoom_right_slider_next:hover {background: #DC1F18; color: #fff;}
.newsRoom_right_slider_range {float: left; appearance: none; display: block; background: transparent; width: 50%; cursor: pointer; border-bottom: 3px solid #e3e3e3; margin-left: 25%; cursor: move;}
.newsRoom_right_slider_range::-webkit-slider-thumb {appearance: none; width: 16.66%; height: 40px; background: transparent; border-bottom: 3px solid #DC1F18; margin-bottom: -3px;}

/* 뉴스룸 페럴렉스 */
.newsRoom_wrap {opacity: 0; transition: opacity 1s ease-in-out;}
.newsRoom_wrap.show {opacity: 1;}
/* 뉴스룸 끝 */
/* section5 */


/* section6 */
/* 티쏘 미디어 */
/* 티쏘 미디어 타이틀 */
.mediate_tit {text-align: center; margin-bottom: 40px;}
.mediate_tit>h2 {font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 32px; color: #303030;}
.mediate_tit>span {display: block; width: 40px; height: 2px; background: #DC1F18; margin: 15px auto 20px auto;}
.mediate_tit>p {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; color: #7e7e7e; font-size: 15px;}
/* 미디어 슬라이드 */
.media_slider_area {overflow: hidden; position: relative;}
.media_slider {position: relative;} /*width는 자바스크립트로*/
.media_slider.active {transition: all 0.4s ease-in-out;}
.media_slider>li {width: 1400px;  position: relative; overflow: hidden; float: left;}
.media_slider>li>iframe {width: 100%;}
.media_slider video {width: 100%; cursor: pointer;}
.media_txt {position: absolute; bottom: -5%; left: 50%; transform: translateX(-50%); transition: all 0.4s ease-in-out; pointer-events: none; opacity: 1;}
.media_txt>h2 {font-family: 'SpoqaHanSansNeo-Light'; font-weight: normal; color: #fff; text-align: center; margin-bottom: 10px; font-size: 21px;}
.media_txt>h2>span {font-weight: 200;}
/* .media_slider>li:hover .media_txt {bottom: 60px;} */
/* 미디어 슬라이드 컨트롤 */
.media_control {width: fit-content; margin: 0 auto;}
.media_control>li {display: inline-block; width: 70px; height: 5px; background: #fff; margin-right: 10px; cursor: pointer;}
.media_control>li:last-child {margin-right: 0;}
.media_control>li>span {display: block; background: #DC1F18; transition: all 0.3s; height: 100%; width: 0;}
.media_control>li.active>span {width: 100%;}
.media_prev, .media_next {position: absolute; top: 50%; transform: translateY(-50%); border-radius: 50%; padding: 7px; cursor: pointer; transition: all 0.4s;}
.media_prev {left: 5px;}
.media_next {right: 5px;}
.media_prev i, .media_next i {font-size: 40px; color: #e3e3e3;}
.media_prev:hover, .media_next:hover {background: #DC1F18;}
/* 동영상 플레이 버튼 */
.play_btn_area {position: absolute; z-index: 3; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; align-items: center;}
.play_btn_area>span:nth-child(1) {color: #fff; font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 19px;}
.play_btn_area>span:nth-child(2) {display: inline-block; width: 0; height: 2px; background: #fff; margin: 0 70px 0 10px; animation: mBtnSpan 1.3s; animation-iteration-count: infinite;}
.play_btn_area>div {border-radius: 50%; width: 70px; height: 70px; background: #fff; position: relative; cursor: pointer; }
.play_btn_area>div>i {position: absolute; font-size: 25px; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 4; color: #303030; transition: all 0.3s;}
.play_btn_area>div>span {position: absolute; display: block; width: 100%; height: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 50%; border: 2px solid #fff; animation: mBtnSpan2 1.3s; animation-iteration-count: infinite; animation-delay: 1s;}
.play_btn_area>div:hover>i {color: #DC1F18;}

/* 미디어 페럴렉스 */
.mediate_tit {opacity: 0; transform: skew(90deg); transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;}
.media_slider_area {opacity: 0; transform: translateY(30%); transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;}
.mediate_wrap.show .mediate_tit {opacity: 1; transform: none;}
.mediate_wrap.show .media_slider_area {opacity: 1; transform: none;}
/* 티쏘 미디어 끝*/
/* section6 끝 */


/* article1 */
#article1>.container {width: 100%; display: flex;}
.location_search {width: 50%; margin-right: 1px; background: #000; position: relative; cursor: pointer; overflow: hidden;}
.location_search>img {display: block; width: 100%; opacity: 0.4; transition: all 0.4s;}
.location_txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; text-align: center;}
.location_txt>p {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 32px; margin-bottom: 20px;}
.location_txt>span {display: inline-block; padding: 12px 40px 13px 40px; border: 1px solid #fff; border-radius: 4px; background: rgba(255, 255, 255, 0.2); font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 16px; transition: all 0.5s;}
.client_service {width: 50%; background: #000; position: relative; cursor: pointer; overflow: hidden;}
.client_service>img {display: block; width: 100%; opacity: 0.5; transition: all 0.4s;}
.service_txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; text-align: center;}
.service_txt>p {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 32px; margin-bottom: 20px;}
.service_txt>span {display: inline-block; padding: 12px 40px 13px 40px; border: 1px solid #fff; border-radius: 4px; background: rgba(255, 255, 255, 0.2); font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 16px; transition: all 0.5s; color: #fff;}
.location_search:hover>img, .client_service:hover>img {opacity: 0.3; transform: scale(1.05);}
.location_search:hover .location_txt>span, .client_service:hover .service_txt>span {box-shadow: inset 170px 0 0px #DC1F18, inset -170px 0 0px #DC1F18; border-color: #DC1F18;}
/* article1 끝*/


/* footer */
.sns_area {padding: 50px 0; border-bottom: 1px solid #303030;}
.sns_area p {font-family: 'SpoqaHanSansNeo-Light'; font-weight: normal; font-size: 16px; color: #f1f1f1; margin-bottom: 20px; text-align: center;}
.sns_area ul {text-align: center;}
.sns_area ul>li {display: inline-block; margin: 0 5px; padding: 9px; border-radius: 50%; border: 1px solid #303030; transition: all 0.4s;}
.sns_area ul>li i {color: #e3e3e3; font-size: 25px; transition: all 0.4s;}
.sns_area ul>li:hover {background: #fff; border: 1px solid #fff;}
.sns_area ul>li:hover i {color: #DC1F18;}

.footer_menu {padding: 80px 0; border-bottom: 1px solid #303030;}
.footer_menu>.container>ul {width: fit-content; margin: 0 auto;}
.footer_menu>.container>ul>li {float: left; margin: 0 75px; font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 15px;}
.footer_menu>.container>ul>li>a {display: block; color: #f1f1f1; transition: all 0.4s;}
.footer_menu>.container>ul>li>ul {margin-top: 20px;}
.footer_menu>.container>ul>li>ul>li {font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal; font-size: 14px;}
.footer_menu>.container>ul>li>ul>li>a {display: block; color: #999; line-height: 3; transition: all 0.4s;}
.footer_menu>.container>ul>li:hover>a {color: #DC1F18;}
.footer_menu>.container>ul>li>ul>li>a:hover {color: #DC1F18;}

.footer {padding: 25px 0 30px 0;}
.footer>h2 {font-size: 13px; font-family: 'Montserrat', sans-serif; font-weight: 400; color: #cacaca; text-align: center;}
.footer>h2>img {width: 100px; vertical-align: middle;}
.footer>h2>span {vertical-align: middle; margin-left: 10px;}

/* 탑 스크롤 버튼 */
.topScroll_btn {position: fixed; bottom: -15%; right: 0; cursor: pointer; padding: 8px; background: #999; transition: bottom 0.6s ease-in-out, background 0.3s;}
.topScroll_btn.show {bottom: 0;}
.topScroll_btn:hover {background: #7e7e7e;}
.topScroll_btn .topScroll>i {display: block; font-size: 18px; color: #999; margin: 0 auto; width: fit-content;}
.topScroll_btn .topScroll>i:nth-child(1) {animation: colorChange 1s; animation-iteration-count: infinite; animation-delay: 0.2s; margin-bottom: -8px;}
.topScroll_btn .topScroll>i:nth-child(2) {animation: colorChange 1s; animation-iteration-count: infinite; animation-delay: 0.1s; margin-bottom: -8px;}
.topScroll_btn .topScroll>i:nth-child(3) {animation: colorChange 1s; animation-iteration-count: infinite;}
.topScroll_btn .topScroll>span {display: block; font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 15px; color: #fff; letter-spacing: 1px;}
/* 푸터끝 */


/* 브랜드역사 팝업영역 */
.popUp_modal {position: fixed; top: 0; left: 0; z-index: 9; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.9); transition: opacity 0.5s ease-in-out; animation: fadeIn 0.6s; display: none;}
.history_iframe {padding: 20px; height: 100%; position: relative;}
.history_iframe .history {display: block; width: 55%; height: 70%; position: absolute; top: 50%; left: 43%; transform: translateY(-50%); display: none;}

.popUp_area {position: fixed; top: 0; left: -40%; z-index: 9; width: 40%; max-width: 800px; height: 100vh; transition: left 0.6s ease-in-out;}
.popUp_slider {width: 100%; height: 100%; overflow: hidden;}
.popUp_slider>ul {position: relative; width: 200%; height: 100%; display: flex; transition: left 4s;}
.popUp_slider>ul>li {width: 100%; background: #000;}
.popUp_slider>ul>li>img {display: block; height: 100%; width: 100%; opacity: 0.7;}

/* .popUp_cookie_area {position: absolute; top: 16px; right: 20px; z-index: 10; color: #fff;}
#popUp_check {display: none;}
.popUp_cookie_area label {vertical-align: middle; cursor: pointer; font-size: 15px;}
.popUp_cookie_area span {margin-right: 10px; display: inline-block; width: 18px; height: 18px; background: #fff; vertical-align: -2px;}
.popUp_cookie_area span i {color: #cacaca; font-size: 18px;}
#popUp_check:checked ~label span {background: #DC1F18;}
#popUp_check:checked ~label span i {color: #fff;} */

.closeBtn {position: absolute; top: 5px; right: -75px; cursor: pointer; text-align: center; color: #303030;}
.closeBtn>p {margin-top: -5px; font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 13px;}
.closeBtn i {transform: rotate(180deg); font-size: 28px; transition: transform 0.4s;}

.popUp_txt {position: absolute; z-index: 10; padding: 20px; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; text-align: center; width: 100%; font-family: 'SpoqaHanSansNeo-Regular'; font-weight: normal;}
.popUp_txt>h2 {margin-bottom: 50px;}
.popUp_txt>p {font-size: 18px; line-height: 2; margin-bottom: 50px;}
.popUp_txt>span {display: block; padding: 14px 40px 15px 40px; border: 1px solid #fff; width: fit-content; margin: 0 auto; cursor: pointer; transition: all 0.4s ease-in-out; border-radius: 4px; font-size: 16px;}
.popUp_txt>span:hover {box-shadow: inset 0 70px 0 #DC1F18, inset 0 -70px 0px #DC1F18; color: #fff; border-color: #DC1F18;}
/* 브랜드 역사 팝업 끝 */



/* 애니메이션 */
/* 해더탑 노티스 애니 */
@keyframes moveLeft {to {left: -600px;}}
/* 언어선택영역 */
@keyframes fadeUp {from {opacity: 0; transform: scale(6);} 100% {opacity: 1; transform: scale(1);}}
/* 해드아이콘 애니 */
@keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}
/* 검색창 애니 */
@keyframes fadeInSlide {from {opacity: 0; transform: translateY(-10px);} to {opacity: 1; transform: translateY(0);}}
/* 메인비주얼 애니 */
@keyframes slideDown {from {opacity: 0; transform: translateX(-40%) translateY(-50%);} to {opacity: 1; top: 50%; left: 50%; transform: translate(-50%, -50%);}}
@keyframes slideDown2 {from {opacity: 0; top: 60%;} to {opacity: 1; top: 50%; left: 50%; transform: translate(-50%, -50%);}}
/* 베스트제품 애니 */
@keyframes dungdung {from {opacity: 0; transform: translateY(250%) translateX(-50%);} 50% {opacity: 1; transform: translateY(100%) translateX(-50%);} to {opacity: 0; transform: translateY(250%) translateX(-50%);}}

/* 티쏘미디어 애니 */
@keyframes mBtnSpan {to {width: 70px; margin-right: 0;}}
@keyframes mBtnSpan2 {to {width: 220%; height: 220%; opacity: 0;}}
/* 푸터 애니 */
@keyframes colorChange {60% {color: #fff;} to {color: #999;}}
/* @keyframes colorChange {to {color: #303030;}} */
/* 티쏘역사 팝업 애니 */
@keyframes fadeLeft {from {opacity: 0; transform: translateX(70%) translateY(-50%);} to {opacity: 1; transform: translateX(0) translateY(-50%);}}



/* 반응형 */
@media screen and (max-width: 1600px) {
  .slide_txt>h2 {font-size: 48px;}
}



@media screen and (max-width: 1400px) {
  #section1 {padding: 0;}
  #section1> .container {width: 1400px;}
  #section3>.container {width: 1400px;}
  #section4>.container {width: 1400px;}
  #section5> .container {width: 1400px;}
  #article1>.container {width: 1400px;}
  .closeBtn {right: -50px;}
}
